h1 {
    color: #000000;
    background-color: #00B0FF;
  }
  
  h2 {
    color: #000000;
    background-color: #76D7C4;
  }
  
  h3 {
    color: #000000;
    background-color: #97E1D9;
  }
  
  h4 {
    color: #000000;
    background-color: #BBEFCA;
  }
  
  h5 {
    color: #000000;
    background-color: #DEFDE0;
  }
  
  h6 {
    color: #000000;
    background-color: #E0F7FA;
  }